body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #BBBBBB;
}
header{
    background-color: #777;
    border: 2px dashed;
    border-radius: 15px;
    text-align: center;
    font-size: 50px;
    padding: 50px;
}
header a:hover{
    background-color: white;
    cursor: pointer;
}
div a:hover{
    background-color: coral;
}
a{
    color: aqua;
    text-decoration: none;
    padding: 20px;
    border: 1px white solid;
    border-radius: 15px;

}
main{
 padding-top: 35px;
}
div{
    text-align: center;
    font-size: 60px;
}



